<style>
    input[type=text] {
        width:100%;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 24px;
        background-color: white;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 20px;

    }

    input[type=text]:focus {
    }
</style>

<div ng-controller="SearchEventController">
    <form class="form-horizontal col-xs-offset-1 col-xs-10">
        <center>
        <div class="text-center color-elements" style="padding-bottom: 30px">
            <h2>Search Volunteer Event</h2>
        </div>

            <div class="form-group">
                <label class="control-label">Search by Event Category</label>
                <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
                    <select class="form-control" style="width: 90%" id="Event_Category" required>
                        <option selected disabled hidden>Select Option</option>
                        <option value="arts">Arts</option>
                        <option value="administrative">Administrative/Office Work</option>
                        <option value="coaching">Coaching/Outdoor Activities</option>
                        <option value="education">Education</option>
                        <option value="eventhandiling">Event handling</option>
                        <option value="fundraising">Fund-raising</option>
                        <option value="mentoring">Mentoring</option>
                        <option value="shows">Shows</option>
                        <option value="socialmedia">Social media</option>
                        <option value="youthwork">Youth Work</option>
                    </select>
                </div>
            </div>

        <div class="form-group">
            <label class="control-label">Search by Keywords</label>
            <br>
            <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
                <input type="text" name="search" placeholder="Search.." >
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-lg-offset-4 col-sm-8 col-lg-4">
                <a class="btn btn-xl" ng-click="model.searchEvent()">Search!</a>
            </div>
        </div>
        </center>
    </form>
</div>